/*
CSS for VFW 1207
Mark A. Blaine
July 2012
*/

body {	
	font-family: Arial, Helvetica, sans-serif;
	color: white;
	background:url('../images/smallBurst.gif');
	background-size: 100%;
	background-repeat: no-repeat;
	background-color:#3b3a3a;
}

header {
	font-family: "Times New Roman", Times, serif;
	font-size: x-large;
}

h1 {
	margin: 0 0 10px 0;
}

h2 {
	text-transform: capitalize;
}

p {
	font-weight: bold;
}

legend {
	color: lightgrey;
}

form {
	background:url('../images/lines.gif');
	background-size: 40%;
	background-repeat: no-repeat;
	background-position: bottom right;
}

form ul {
	list-style: none;
	padding-left: 0;
}

#items ul {
	list-style-image: url('../images/starBullet.png');
	margin-bottom: 20px;
}

#items ul li ul {
	margin-bottom: 15px;
	padding-left: 0;
	border-top: white ridge;
}

#items ul li ul li {
	list-style-image: none;
	list-style-type: none;
}

#items + #items {
	display: none;
}

#listHeader {
	margin-left: 40px;
}

li a {
	line-height: 40px;
	color: lightgrey;
}

#errors {
	color: red;
}

a {
	color: white;
	margin-right: 15px;
	margin-bottom: 15px;
}

a:hover {
	color: red;
}